.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 5px 0px 10px rgba(0, 115, 199, 0.15);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 2rem;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}
.sidenav-overlay{
    position: fixed;
    width: 100%;
    top: 0px;
    bottom: 0px;
    background-color: rgba(71, 71, 71, 0.3);
}
.nav-header-content{
    display: grid;
    max-height: 100px;
}
.profile-data,.link-item{
    display: flex;
}
.nav-link{
    font-size: 16px;
    line-height: 19px;
    color: #668194;
    align-self: center;
    margin-left: .5rem;
}
.view-profile-link{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #668194;
}
.nav-link-logout{
    color: rgb(235, 0, 27);
    font-size: 16px;
    line-height: 19px;
    margin-left: .5rem;
    height: 24px;
    padding-top: .25rem;
    bottom: 2rem;
}
.profile-avatar{
    width: 50px;
    height: 50px;
    border-radius: 5rem;
}
.nav-user-name{
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    color: #002C4D;
}
.user-info-container{
    margin-left: 1rem;
    display: grid;
}
.sidebar-hr{
    height: 0px;
    margin-right: 2rem;
    border: 0.5px solid #99ABB8;
    margin-top: 1rem;
}
.nav-links-container{
    display: grid;
    align-content: space-evenly;
    margin-top: .5rem;
    height: 200px;
}