.partners-container{
    width: 10rem;
    text-align: right;
    margin: auto;
    margin-top: -3rem;
}
.content-container{
    z-index: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}